<h3>Create a new post</h3>

<div class="panel panel-default">
	<div class="panel-heading">
		Add a blog post!
	</div>
	<div class="panel-body">
	<label>Post Title:</label>
	<div class="form-group">
    {{input class="form-control" value=post.title placeholder="Post title"}}
    </div>
    <div class="form-group">
	<label>Title</label>
    {{input class="form-control" value=post.author placeholder="Author"}}
    </div>
    <div class="form-group">
	<label>Title</label>
    {{textarea class="form-control" rows=4 value=post.body placeholder="Content"}}
	</div>
  
    <button {{action "createPost" post}} class="btn btn-default">Publish</button>
    </div>
</div>